body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  gap: 5px;
  background-color: grey;
  padding: 5px;
}

.header {
  grid-area: header;
  text-align: center;
  background: #000;
  color: rgb(0, 255, 238);
  padding: 20px;
  font-size: 20px;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #ffe600;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "article aside"
    "form-container form-container";
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  width: 100%;
}

.article {
  grid-area: article;
  background-color: grey;
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.aside {
  grid-area: aside;
  background-color: #4E3629;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-style: italic;
  text-align: center;
}

.form-container {
  grid-area: form-container;
  text-align: center;
  padding: 3%;
  margin-top: 20px;
  width: 20%;
  background-color: #4E3629;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgb(236, 179, 19);
  color: bisque;
  justify-self: center;
  margin-bottom: 1%;
}

.botao-envio {
  background-color: rgb(76, 76, 232);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 2px 2px grey;
}

.botao-envio:hover {
  background-color: wheat;
  color: black;
  box-shadow: 2px 2px black;
  border: none;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Rodapé */
.footer {
  grid-area: footer;
  text-align: center;
  padding: 15px;
  background-color: black;
  color: rgb(0, 255, 238);
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: #ffe600;
}